<!DOCTYPE html>
<html lang="pt-br" class="no-js">
    <head>
        <meta charset="utf-8"/>
        <title>Projeto Suikari</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/animate.css" rel="stylesheet">
        <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/layout.min.css" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="img/fav.png"/>
    </head>

    <body>

        <header class="header navbar-fixed-top">
            <nav class="navbar" role="navigation">
                <div class="container">
                    <div class="menu-container">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>

                        <div class="logo">
                            <a class="logo-wrap" href="/">
                                <img class="logo-img logo-img-main" src="img/logo.png" alt="Suikari Logo">
                                <img class="logo-img logo-img-active" src="img/logo-dark.png" alt="Suikari Logo">
                            </a>
                        </div>
                    </div>

                    <div class="collapse navbar-collapse nav-collapse">
                        <div class="menu-container">
                            <ul class="navbar-nav navbar-nav-right">
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="#historia">História</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="#faq">FAQ</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="#conceitos">Conceitos</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="#time">Time</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="#contato">Contato</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="img-responsive" src="img/1920x1080/01.jpg" alt="Slider Image">
                    <div class="container">
                        <div class="carousel-centered">
                            <div class="margin-b-40">
                                <h1 class="carousel-title" style="margin-top: 100px;">PROJETO SUIKARI</h1>
                                <h2 class="carousel-title" style="font-size: 16pt;">Conhecendo a fauna amazônica através de realidade virtual.</h1>
                                <p>O presente site visa a apresentação do projeto SUIKARI,objetivando mostrar, de forma dinâmica, <br/>com o uso da Realidade Virtual,<br/> informações a respeito dos animais amazônicos proeminentes à extinção. A temática foi escolhida com o intuito de acabar, <br/>ou amenizar, a incultura ao que diz respeito à fauna amazônica.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-lg container" id="historia">
            <div class="row margin-b-20">
                <div class="col-sm-6">
                    <h2>NOSSA HISTÓRIA</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-7 sm-margin-b-50">
                    <div class="margin-b-30">
                        <p>Somos alunos finalistas da turma B de informática na Fundação Matias Machline  e o projeto Suikari é o nosso trabalho de conclusão de curso. Após as equipes serem selecionadas pelo professor, começamos a pensar no que poderíamos fazer para conseguir nosso certificado técnico, ao mesmo tempo em que colaboraríamos significativamente com a ciência e educação. Diante disso, a ideia inicial englobava apenas frutas regionais, posteriormente, apenas peixes,  por fim, a fauna amazônica. O nome, Suikari, surgiu da mistura de duas palavras derivadas do Nheengatu, a língua geral indígena. Sendo essas: suikiri(verde) e kaá(floresta).</p>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <img class="img-responsive" src="img/pp.jpg" alt="Projeto Suikari">
                </div>
            </div>
        </div>

        <div class="bg-color-sky-light" id="faq" data-auto-height="true">
            <div class="content-lg container">
                <div class="row row-space-1 margin-b-2">
                    <div class="col-sm-6 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="service" data-height="height">
                                <h3>
                                    QUAL O OBJETIVO ALMEJADO?</h3>
                                <p class="margin-b-5">Desenvolver uma aplicação capaz de facilitar a aprendizagem, nas redes de ensino públicas e privadas, para alunos e pessoas interessadas na fauna da região amazônica, com enfoque em matérias nas áreas de cunho biológico e social.</p> 
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <h3>QUAIS SÃO AS FUNCIONALIDADES DO APLICATIVO?</h3>
                                <p class="margin-b-5">-> O jogador/usuário poderá se mover livremente pelo cenário;<br/>

                                    -> Os animais deverão se movimentar;<br/>
                                    
                                    -> O jogador/usuário deverá conseguir ver as informações sobre os animais;<br/>
                                    
                                    -> O usuário/jogador deverá se mover por meio de um joystick
                                    configurado juntamente com a Engine;</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-space-1 margin-b-2">
                    <div class="col-sm-6 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="service" data-height="height">
                                <h3>
                                    CONHEÇO OUTROS APLICATIVOS PARECIDOS. POR QUE ESTE É MELHOR?</h3>
                                <p class="margin-b-5">Tirando por base o Discovery VR (Oferece uma série de atrações imersivas para o usuário,sejam elas em paisagens selvagens ou urbanas. O conteúdo é provido pelo Discovery Channel e exibido em realidade virtual ) e o Seek ( Popularmente conhecido como “Shazam fauna e flora”, com uso de realidade aumentada, o aplicativo identifica plantas e animais ao focá-los com a câmera e comunica qual espécie foi descoberta, junto com informações do site Wikipedia), o Suikari se diverge por ser a junção de ambos, com funções mais completas e englobamento regional. Ademais, conta com um sofisticado design, sem abrir mão da praticidade e eficiência.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="service" data-height="height">
                                <h3>QUAL FOI A METODOLOGIA UTILIZADA PARA O DESENVOLVIMENTO DO APLICATIVO?
                                </h3>
                                <p class="margin-b-5">A metodologia foi a Scrum, que permite potencializar o trabalho em equipe, acompanhar a evolução do produto, sempre com foco na qualidade da produção e nos prazos estipulados. Uma das principais vantagens é que a equipe consegue entregar a produção com maior agilidade, corrigindo problemas ao longo do processo a partir dos Sprints, em que se obtém feedback do usuário.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-lg container" id="conceitos">
            <div class="row margin-b-40">
                <div class="col-sm-6">
                    <h2>CONCEITOS IMPORTANTES</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="margin-b-20">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                            <img class="img-responsive" src="img/970x647/01.jpg" alt="Latest Products Image">
                        </div>
                    </div>
                    <h4><a href="#">Óculos VR<span class="text-uppercase margin-l-20"></span></a>
                    <p>Óculos VR ou óculos de realidade virtual são um tipo de óculos que funciona como um dispositivo de exibição. Eles permitem ao usuário visualizar uma série de imagens geradas por computador com as quais eles podem interagir. Eles assumem a forma de uma ou duas telas de exibição usadas na frente do rosto e projetam imagens gráficas, geralmente acompanhadas por som e vídeo. O espectador vê duas imagens separadas - uma em cada olho que o cérebro combina para formar uma imagem tridimensional. Eles mostram uma ilusão de profundidade, que é uma característica dos ambientes virtuais.</p>
                </div>

                <div class="col-sm-4 sm-margin-b-50">
                    <div class="margin-b-20">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                            <img class="img-responsive" src="img/970x647/02.jpg" alt="Latest Products Image">
                        </div>
                    </div>
                    <h4><a href="#">Google Cardboard</a> <span class="text-uppercase margin-l-20"></span></h4>
                    <p>O Google Cardboard é um instrumento criado pelo Google para uma extraordinária experiência em realidade virtual, usando o seu smartphone, através de jogo, vídeo em 360º, realidade aumentada utilizando a câmera do celular. Nomeado para o seu visualizador de papelão dobrável, a plataforma é concebida como um sistema de baixo custo para fomentar o interesse e o desenvolvimento de aplicações de realidade virtual. Os usuários podem criar o seu próprio visualizador de forma simples, de baixo custo, usando componentes com especificações publicadas pela Google, ou comprar um pré-fabricado. O espectador é usado pela colocação de um smartphone na parte traseira do mesmo e a visualização através de lentes na frente.</p>
                </div>

                <div class="col-sm-4 sm-margin-b-50">
                    <div class="margin-b-20">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                            <img class="img-responsive" src="img/970x647/03.jpg" alt="Latest Products Image">
                        </div>
                    </div>
                    <h4><a href="#">Floresta Amazônica</a> <span class="text-uppercase margin-l-20"></span></h4>
                    <p>A floresta tropical amazônica, que cobre boa parte do noroeste do Brasil e se estende até a Colômbia, o Peru e outros países da América do Sul, é a maior floresta tropical do mundo, famosa por sua biodiversidade. Ela é atravessada por milhares de rios, entre eles o grandioso rio Amazonas. Entre as cidades ribeirinhas, com arquitetura do século XIX que data do início da exploração de borracha, destacam-se Manaus e Belém, no Brasil, e Iquitos e Puerto Maldonado, no Peru.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="margin-b-20">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                            <img class="img-responsive" src="img/970x647/04.jpg" alt="Latest Products Image">
                        </div>
                    </div>
                    <h4><a href="#">
                        TIC'S<span class="text-uppercase margin-l-20"></span></a>
                    <p>As TIC's são as Tecnologias da Informação e Comunicação, elas dizem respeito a formas tecnológicas distintas de comunicar e informar por meio das funções de hardware, software e telecomunicações. Seus objetivos são: inovar o ato de lecionar, manter os alunos engajados e oferecer uma infraestrutura adequada.</p>
                </div>
            </div>
        </div>


        <div class="bg-color-sky-light" id="time">
            <div class="content-lg container">
                <div class="row margin-b-40">
                    <div class="col-sm-6">
                        <h2>CONHEÇA O TIME</h2>
                        <p>Estes são os integrantes do Projeto Suikari!</p>
                    </div>
                </div>

                <div class="row">
                    <!-- Team -->
                    <div class="col-sm-4 sm-margin-b-50">
                        <div class="bg-color-white margin-b-20">
                            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                <img class="img-responsive" src="img/770x860/01.png" alt="Team Image">
                            </div>
                        </div>
                        <h4><a href="#">Julyane Leles</a> <span class="text-uppercase margin-l-20">Designer</span></h4>
                        <p></p>
                    </div>

                    <div class="col-sm-4 sm-margin-b-50">
                        <div class="bg-color-white margin-b-20">
                            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                <img class="img-responsive" src="img/770x860/02.png" alt="Team Image">
                            </div>
                        </div>
                        <h4><a href="#">Kirk Sahdo</a> <span class="text-uppercase margin-l-20">Desenvolvedor</span></h4>
                        <p></p>
                    </div>
 
                    <div class="col-sm-4 sm-margin-b-50">
                        <div class="bg-color-white margin-b-20">
                            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                <img class="img-responsive" src="img/770x860/03.png" alt="Team Image">
                            </div>
                        </div>
                        <h4><a href="#">Rebeca Lira</a> <span class="text-uppercase margin-l-20">Designer</span></h4>
                        <p></p>
                    </div>

                </div>
            </div>
        </div>

        <footer class="footer" id="contato">
            <div class="footer-seperator">
                <div class="content-lg container">
                    <div class="row">
                        <div class="col-sm-2 sm-margin-b-50">
                            <ul class="list-unstyled footer-list">
                                <li class="footer-list-item"><a class="footer-list-link" href="#historia">História</a></li>
                                <li class="footer-list-item"><a class="footer-list-link" href="#faq">FAQ</a></li>
                                <li class="footer-list-item"><a class="footer-list-link" href="#conceitos">Conceitos</a></li>
                                <li class="footer-list-item"><a class="footer-list-link" href="#time">Time</a></li>
                                <li class="footer-list-item"><a class="footer-list-link" href="#contato">Contato</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 sm-margin-b-30">
                            <ul class="list-unstyled footer-list">
                                <li class="footer-list-item"><a class="footer-list-link" target="_blank" href="https://www.instagram.com/projetosuikari/">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-xs-6">
                        <img class="footer-logo" src="img/logo.png" alt="Suikari Logo">

                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="margin-b-0">©2020 por  <a class="color-base fweight-700" href="/">Suikari</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>
        <script src="vendor/jquery.min.js" type="text/javascript"></script>
        <script src="vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="vendor/jquery.wow.min.js" type="text/javascript"></script>
        <script src="vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>
        <script src="vendor/masonry/jquery.masonry.pkgd.min.js" type="text/javascript"></script>
        <script src="vendor/masonry/imagesloaded.pkgd.min.js" type="text/javascript"></script>
        <script src="js/layout.min.js" type="text/javascript"></script>
        <script src="js/components/wow.min.js" type="text/javascript"></script>
        <script src="js/components/swiper.min.js" type="text/javascript"></script>
        <script src="js/components/masonry.min.js" type="text/javascript"></script>

    </body>
</html>